header {
    height: 10vh;
    line-height: 10vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: #fff;
    position: relative;
    z-index: 999;
  }
  .logo img {
    width: 150px;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 15px;
  }
  
  header i {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 10px;
  }
  header button {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .toggle {
    display: none;
  }
  .a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  .a:hover{
    color: #474242;
  }
  ul {
    list-style-type: none;
  }
  .flexSB {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    max-width: 90%;
    margin: auto;
  }


  .login-btn{
     padding: 0.5rem 1rem; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease ;

  }
  .login-btn:hover{
    background-color: #0056b3;
  }
  .login-content{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: black;
  }
  @media only screen and (max-width: 768px) {
    header nav .flexSB {
      display: none;
    }
    .account {
      display: none;
    }
    .navMenu-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #706c6c;
      width: 45%;
      height: 100vh;
      z-index: 9999;
    }
    header ul li {
      align-items: left;
      margin-top: 30px;
      padding: 0 50px;
    }
    .toggle {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto;
      cursor: pointer;
      background: none;
    }
  }