.hero-section{
  right: 0;
  left: 0;
  height: 400px;
  width: 100%;
  color: #fff;
}
.control-btn button {
    background: none;
    border: 2px solid rgba(255, 254, 254, 0.3);
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .control-btn .next {
    position: absolute;
    top: 30%;
    right: 2%;
    color: rgb(249, 249, 249)
  }
  .card1{
    margin-top: 100px;
  }
  .card1 h1{
     margin-top: 30px;
     padding-top: 50px;
     text-align: center;
  }
  .trend{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .trend h1{
   margin-top: 30px;
   padding-top: 50px;
   text-align: center;
  }
  
  .control-btn .prev {
    position: absolute;
    top: 30%;
    left: 2%;
    z-index: 99;
    color: rgb(253, 251, 251)
  }
.section{
    display: flex;
    flex-direction: column;
}
/* h2{
   margin-top: 30px;
   padding-top: 50px;
   margin-left: 0;
} */
.carousel-item{
    text-align: center;
}
.carousel-item img{
     width: 100vw;
     height: 500px; 
     object-fit: cover;
}
@media screen and (max-width :768px) {
    .hero-section{
        width: 100%;
    }
}