.para-1{
  text-align: center;
  font-weight: lighter;
  font-size: large;
  margin-top: 20px;
}
.para-2{
    text-align: center;
    font-weight: bold;
    font-size: small;
    margin-bottom: 500px;
}
