.register-container{
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register-container h2{
    text-align: center;
    color: #09054a;
}
.register-container form{
    display: flex;
    flex-direction: column;
}
.register-container form label{
    margin-bottom: 10px;
}
.register-container form input{
    padding: 8px;
    margin-bottom: 10px;
}
.register-container form button{
    margin-top: 15px;
    padding: 10px;
    background-color: #09054a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.userErr{
    color: red;
    font-weight: bold;
}
@media screen and (max-width : 768px){
    .register-container{
        width: 100%;
    }
}